# NOTE: Write values in double quotes for consistency
# Eg: DJANGO_SECRET_KEY="your-secret-key"

# debug. True or False. Ideally if DJANGO_PRODUCTION is True, set it to False and vice versa
DJANGO_DEBUG=

# secret key
DJANGO_SECRET_KEY=

# jwt secret key
DJANGO_JWT_SECRET=

# allowed hosts. eg: "localhost" or "*" or "192.168.18.212" or "example.com". Just repeat the first one for the second variable if you have only one allowed host.
DJANGO_ALLOWED_HOST_1=
DJANGO_ALLOWED_HOST_2=

# default database connection setup 
# "django.db.backends.postgresql" for postgresql
DJANGO_DB_ENGINE=
# "law_db"
DJANGO_DB_NAME=
# "db_user"
DJANGO_DB_USER=
# "db_password"
DJANGO_DB_PASSWORD=
# "localhost" or "127.0.0.1" or "10.10.10.10"
DJANGO_DB_HOST=
# "5432" for postgresql
DJANGO_DB_PORT=


# frontend url. eg: "http://localhost:3000" or "https://example.com",
# Don't give trailing slash
DJANGO_FRONTEND_URL=
# Below will be ignored in production, sometimes you may need to test with multiple frontend (eg: web and mobile app)
# Even in development, it will be ignored if not set.
DJANGO_FRONTEND_URL_2=